body {
  background-color: rgb(243, 243, 255);
}
.chart-content-wrapper {
  display: flex;
  width: 100%;
}
.chart-content-wrapper > div {
  width: 50%;
}
.expenseWrapper {
  max-width: 700px;
  margin: auto;
  background-color: #ffff;
  font-size: 1.3rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(85, 39, 133, 0.3);
}
.expenseWrapperButton {
  margin-top: 2rem;
  width: 40%;
  font-size: 1.2rem;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(132, 71, 254, 1);
  color: #ffff;
  border: solid;
  border-color: #ffff;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.expenseWrapperButton:hover {
  border: solid;
  border-color: rgba(132, 71, 254, 1);
  background-color: #ffff;
  color: black;
}
.expenseHeader {
  display: flex;
  justify-content: space-between;
  div {
    font-weight: bolder;
    width: 20%;
  }
}
.expeseDivider {
  border: 1.5px solid rgba(132, 71, 254, 0.644);
  margin: 1rem 1rem 2rem 1rem;
}
.expenseBody {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  div {
    width: 20%;
  }
}
.totalExpense {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  padding: 2rem;
  margin: 1rem 1rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bolder;
  background-color: rgba(132, 71, 254, 0.644);
  box-shadow: 5px 5px 10px rgba(85, 39, 133, 0.3);
  margin-bottom: 3rem;
}
